.fluid-move-container {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1d;
  flex-direction: column;

  #canvas {
    border: solid 2px white;
    opacity: 0;
  }

  button {
    margin-top: 1rem;
    display: inline-block;
    outline: none;
    padding: 8px 14px;
    background: black;
    border: solid 2px white;
    color: white;
    text-decoration: none;
    border-radius: 99px;
    padding: 12px 25px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    line-height: 18px;
  }
}
